In [1]:
# Import Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [34]:
# Import and Load Nashville AirBnB Data 
listings =  pd.read_csv('C:/Users/New/Downloads/datasets/NashvilleAirBNB/NashvilleListings.csv')
reviews = pd.read_csv('C:/Users/New/Downloads/datasets/NashvilleAirBNB/NashvilleReviews.csv')
neighborhoods = pd.read_csv('C:/Users/New/Downloads/datasets/NashvilleAirBNB/NashvilleNeighbourhoods.csv')

print(f"The listings dataset has {listings.shape[0]} rows and {listings.shape[1]} columns.")
print(f"The reviews dataset has {reviews.shape[0]} rows and {reviews.shape[1]} columns.")
print(f"The neighborhoods dataset has {neighborhoods.shape[0]} rows and {neighborhoods.shape[1]} columns.")

The listings dataset has 8850 rows and 18 columns.
The reviews dataset has 626097 rows and 2 columns.
The neighborhoods dataset has 35 rows and 2 columns.

In [48]:
# Rename the Primary Key Linking Both Datasets as 'id' in the Reviews Dataset
reviews.rename(columns = {'listing_id' : 'id'}, inplace = True)
# Merge All Datasets into One File and Check Data in Preparation for Data Cleaning
nashville = pd.merge(reviews, listings, on='id')

In [69]:
nashville.head()

,id,date,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6422,2009-04-30,Home in Nashville · ★4.95 · 1 bedroom · 1 bed ...,12172,Michele,NaN,District 6,36.17143,-86.7357,Private room,43.0,30,670,2020-03-03,3.76,1,260,0,NaN
1,6422,2009-06-11,Home in Nashville · ★4.95 · 1 bedroom · 1 bed ...,12172,Michele,NaN,District 6,36.17143,-86.7357,Private room,43.0,30,670,2020-03-03,3.76,1,260,0,NaN
2,6422,2009-06-17,Home in Nashville · ★4.95 · 1 bedroom · 1 bed ...,12172,Michele,NaN,District 6,36.17143,-86.7357,Private room,43.0,30,670,2020-03-03,3.76,1,260,0,NaN
3,6422,2009-07-18,Home in Nashville · ★4.95 · 1 bedroom · 1 bed ...,12172,Michele,NaN,District 6,36.17143,-86.7357,Private room,43.0,30,670,2020-03-03,3.76,1,260,0,NaN
4,6422,2009-09-29,Home in Nashville · ★4.95 · 1 bedroom · 1 bed ...,12172,Michele,NaN,District 6,36.17143,-86.7357,Private room,43.0,30,670,2020-03-03,3.76,1,260,0,NaN

In [ ]:
# Drop Unneeded Column After Feature Engineering and Data Transformation
nashville.drop(columns = ['neighbourhood_group', 'license'], inplace = True)

In [50]:
print(f"The merged and cleaned dataset has {nashville.shape[0]} rows and {nashville.shape[1]} columns.")

The merged dataset has 626097 rows and 19 columns.

In [61]:
nashville.columns

Index(['id', 'date', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [72]:
nashville['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [74]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8850 entries, 0 to 8849
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8850 non-null   int64
 1   name                            8850 non-null   object
 2   host_id                         8850 non-null   int64
 3   host_name                       8850 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8850 non-null   object
 6   latitude                        8850 non-null   float64
 7   longitude                       8850 non-null   float64
 8   room_type                       8850 non-null   object
 9   price                           8665 non-null   float64
 10  minimum_nights                  8850 non-null   int64
 11  number_of_reviews               8850 non-null   int64
 12  last_review                     7652 non-null   object
 13  reviews_per_month               7652 non-null   float64
 14  calculated_host_listings_count  8850 non-null   int64
 15  availability_365                8850 non-null   int64
 16  number_of_reviews_ltm           8850 non-null   int64
 17  license                         152 non-null    object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.2+ MB